<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:bal="http://wixtoolset.org/schemas/v4/wxs/bal">
	<!-- 
	Make sure that the name and version are updated for the desired Msi Creation
	Also double check the directories of Icon, SplashScreen, and 2 Logos
	-->
  <Bundle Name="LumaViewPro 2.1.0"
		  Manufacturer="Etaluma"
		  Version="2.1.0"
		  UpgradeCode="c483d86a-624f-4279-8a06-b6b4039a6fff"
		  IconSourceFile="C:\Users\EtalumaDemoLaptop8\Downloads\LumaViewPro-2.1.0\data\icons\icon.ico"
		  SplashScreenSourceFile="C:\Users\EtalumaDemoLaptop8\Downloads\LumaViewPro-2.1.0\data\icons\icon.ico">
	  
    <BootstrapperApplication>
      <bal:WixStandardBootstrapperApplication LicenseUrl="https://etaluma.com/terms-of-use/" 
											  Theme="hyperlinkSidebarLicense" 
											  LogoSideFile="C:\Users\EtalumaDemoLaptop8\Downloads\MSI_Work\Squishedicon165x400.png"
											  LogoFile="C:\Users\EtalumaDemoLaptop8\Downloads\LumaViewPro-2.1.0\data\icons\icon.png"/>
    </BootstrapperApplication>

	<!--
	Ensure correct file path for each part of the installation package
	-->
    <Chain>
		<MsiPackage Id="LVP"
					SourceFile="C:\Users\EtalumaDemoLaptop8\source\repos\LVP Standalone Install\Package1\obj\x86\Debug\en-US\LumaViewPro2.1.0.msi" 
					Vital="yes"/>
		
		<MsiPackage Id="PylonDriver"
					Permanent="yes"
					SourceFile="C:\Users\EtalumaDemoLaptop8\Downloads\pylon_USB_Camera_Driver.msi"/>

		<MsiPackage Id="AmazonCorretto8"
					SourceFile="C:\Users\EtalumaDemoLaptop8\Downloads\amazon-corretto-8.422.05.1-windows-x64-jdk.msi"
					Vital="yes"/>
    </Chain>
  </Bundle>
</Wix>